* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgba(37, 37, 37, 0.836);
  text-shadow: 1px 1px 7px rgb(158, 158, 158, 0.596);
}

.title {
  margin-top: 1rem;
  text-align: center;
  font-size: 42pt;
}

.score-container {
  display: flex;
  justify-content: center;
}

.neutral-score {
  background-color: rgb(230, 255, 91);
  font-family: 'Press Start 2P', cursive;
  text-shadow: 1px 1px 7px rgb(158, 158, 158, 0.596);
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 75pt;
  border: 8px solid rgba(37, 37, 37, 0.836);
  border-radius: 2px;
  box-shadow: 1px 1px 10px 1px rgb(190, 190, 190);
}
.positive-score {
  background-color: rgb(47, 255, 99);
  font-family: 'Press Start 2P', cursive;
  text-shadow: 1px 1px 7px rgb(158, 158, 158, 0.596);
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 75pt;
  border: 8px solid rgba(37, 37, 37, 0.836);
  border-radius: 2px;
  box-shadow: 1px 1px 10px 1px rgb(190, 190, 190);
}
.negative-score {
  background-color: rgb(255, 117, 117);
  font-family: 'Press Start 2P', cursive;
  text-shadow: 1px 1px 7px rgb(158, 158, 158, 0.596);
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 75pt;
  border: 8px solid rgba(37, 37, 37, 0.836);
  border-radius: 2px;
  box-shadow: 1px 1px 10px 1px rgb(190, 190, 190);
}

.form-container {
  display: flex;
  justify-content: center;
}

.activity-form {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.activity-form > input {
  height: 2rem;
  margin-bottom: 0.5rem;
  border: 2px solid rgba(37, 37, 37, 0.836);
  padding: 3px;
}

.activity-form > span {
  display: flex;
  justify-content: space-between;

  width: 25rem;
}

.activity-form > span > input {
  font-size: 20pt;
  width: 12rem;
  color: white;
  padding: 0.5rem;
  background-color: rgba(37, 37, 37, 0.836);
}

.activity-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17pt;
}

.activity-list > h4 {
  margin: 1rem;
}

.entry {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60vh;
}

.entry-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gg-pen {
  margin-left: 1rem;
  --ggs: 0.9;
  color: rgb(187, 187, 187);
}
.gg-trash {
  margin-left: 1rem;
  --ggs: 0.9;
  color: rgb(187, 187, 187);
}
.gg-pen:hover {
  color: rgb(109, 123, 255);
}
.gg-trash:hover {
  color: rgb(240, 100, 100);
}

li {
  list-style-type: square;
}
